/*
 * SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
 * SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-swift-pilot-client-1
 */

QWidget {
    color: #d9d9d9;
    font-family: "-apple-system", "SF Pro Text", "Helvetica Neue", "Arial", sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
}
