/*
 * SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
 * SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-swift-pilot-client-1
 */

QDialog {
  background-color: #252526;
  border: 1px solid #474747;
  border-radius: 6px;
}

#fr_NavigatorDialogInner QToolButton {
  margin: 0px;
}
