/*
 * SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
 * SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-swift-pilot-client-1
 */

#lep_CommandLineInput {
  background-color: #1e1e1e;
  border: 1px solid #474747;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 3px;
}

#lep_CommandLineInput:focus {
  border-color: #007acc;
}

#comp_Log {
  background: transparent;
}

#gb_DBusMode {
  background-color: #252526;
}

#gb_Controls {
  background-color: #252526;
}
