/*
 * SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
 * SPDX-License-Identifier: GPL-3.0-or-later OR LicenseRef-swift-pilot-client-1
 */

/*
 Works around an issue on macOS where the launcher dialog was entirely transparent.
*/
QStackedWidget#sw_SwiftLauncher {
  background-color: #252526;
}

/* Start page launch buttons */
#pg_Start QToolButton {
  background-color: #2d2d2d;
  border: 1px solid #474747;
  border-radius: 6px;
  color: #cccccc;
  padding: 6px;
}

#pg_Start QToolButton:hover {
  background-color: #094771;
  border: 2px solid #007acc;
  border-radius: 6px;
  min-width: 30px;
  min-height: 30px;
}

#pg_Start QToolButton:pressed {
  background-color: #0e639c;
  border-color: #1177bb;
}

#pg_start QToolTip {
  color: #cccccc;
  background-color: #252526;
  border: 1px solid #474747;
}
